*{
  font-family: 'Libre Bodoni', serif;
  font-family: 'Oleo Script', cursive;
  font-family: 'Quintessential', cursive;
  font-family: 'Tinos', serif;
  box-sizing: border-box;
}
.App {
  background-color: #282c34;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  color:white;
  font-style: normal;
}
#title{
  padding-bottom: 50px;
  padding-top: 0;
  font-size: 70px;
  color:rgb(255, 58, 58);
}
label{
  width: 100%;
  height: 27px;
  display: block;
  text-align: left;
  margin-left: 10%;
  margin-right: 0%;
}
label a{
  color: #005eff;
}
span{
  margin-left: 30%;
}
input{
  /* margin-right: 15px; */
  margin-bottom: 20px;
  padding: 5px;
  height: 15px;
  left: 10%;
  width: 80%;
  border-radius: 30px;
}
.form{
  margin-bottom: 20%;
  font-size: 20px;
 align-items: center;   
}
button{
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  border-radius: 10px;
}
button:hover{
  background-color: #ff4646;
}

html, body, #root{
  /* height: 100vh; */
  height: 100%;
  /* overflow: hidden; */
}