.App {
  background-color: #282c34;
  height: 100%;
}

.spinner {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: App-spinner infinite 20s linear;
    padding: 0;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  font-family: 'Quintessential', cursive;
  font-size: 100px;
  font-style: italic;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 0;
  position: relative;
}
/* p1{
  font-family: 'Quintessential', cursive;
  font-size: 30px;
  margin: 0;
  position: relative;
} */
body{
  color:white;
  font-style: normal;
}
.LogIn-Box{
  position: relative;
  margin: auto;
  width: 35%;
  border: 7px solid rgb(255, 58, 58)  ;
  border-radius: 30px;
  align-items: center;
}
#title{
  padding-bottom: 50px;
  padding-top: 0;
  font-size: 70px;
  color:rgb(255, 58, 58);
}
label{
  width: 100%;
  height: 27px;
  display: block;
  text-align: left;
  margin-left: 10%;
  margin-right: 0%;
}
label a{
  color: #005eff;
}
span{
  margin-left: 30%;
}
input{
  /* margin-right: 15px; */
  margin-bottom: 20px;
  padding: 5px;
  height: 15px;
  left: 10%;
  width: 80%;
  border-radius: 30px;
}
form{
  margin-bottom: 20%;
  font-size: 20px;
 align-items: center;   
}
button{
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  border-radius: 10px;
}
button:hover{
  background-color: #ff4646;
}

html, body, #root{
  /* height: 100vh; */
  height: 100%;
  overflow: hidden;
}