*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
    text-align: center;
}

button {
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    margin: 0;
    margin-block: 20px;
}
