body {
  background-color: #282c34;
  height: 100%;
  position: relative;
}

#body {
  z-index: 0;
}

.Course {
  background-color: #282c34;
  height: 100%;
  word-wrap: break-word;
}

.Course-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Course-link {
  color: #61dafb;
}
.Course form {
  display:  inline-block;
  font-size: 20px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 0;
}

.Course form a {
  color: #005eff;
}

.Course form label {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  display:inline-block;
}

.Course form input {
  display:inline-block;
  padding: 20px;
  height: 15px;
  left: 10%;
  width: 25%;
  border-radius: 30px;
  box-sizing: border-box;
}
.Course button {
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  display:  inline-block;
  box-sizing: border-box;
}

.Course button:hover {
  background-color: #ff4646;
}

.Course .term {
  width: 150px;
  display:  inline-block;
}

.Course li{
list-style: none;
}

.Course td{
  text-align: center;
  border-style: none;
}
.Course table thead{
  position: relative;
  left: 0;
  padding-left: 0;
  margin-left: 0;
}

.Course table{
  border-collapse: collapse;
  border-style: none;
  display: block;
  position: relative;
  float: left;
}

.Course tr.odd{
  background-color: rgb(34, 34, 34);
}

.Course tr.even{
  background-color: rgb(0, 0, 0);
}

.h1 {
  font-family: 'Quintessential', cursive;
  font-size: 100px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  position: relative;
}

body {
  color: white;
  font-style: normal;
}

#title {
  padding-bottom: 50px;
  padding-top: 0;
  font-size: 70px;
  color: rgb(255, 58, 58);
}

span {
  margin-left: 30%;
}

html,
body,
#root {
  /* height: 100vh; */
  height: 100%;
  /* overflow: hidden; */
}

td {
  border: 2px black solid;
}

#addForm {
  display: none;
  filter: none;
  float: right;
  position: absolute;
  z-index: 5;
  /*Sit on top */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
  text-align: center;
  align-items: center;
}

#hidden {
  color: whitesmoke;
  z-index: 5;
  /*Sit on top */
}

#hiddenButton {
  color: black;
}