
/* Settting color scheme */
:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4a99;
  --purple: #8b5cf6;
  --darkblue: #051747
}
.h1 {text-align: center;}

.collection{
  margin-top: 1rem;
  border: 5px solid black;
  border-radius: 25px;
 

}

.linee{
  text-align: left;
  margin-top: 5px;
}

.reg{
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  
}

.description {
  width: 400px;
  word-wrap: break-word;
  text-align: left;
  margin-top: 5px;
}



.firstsection {
  background-color: white;
  border: 3px solid black;
  min-height: 600px;
  height: auto;
  color: black;
  width: 90%;
  margin: auto;
  border-radius: 25px;
  margin-top: 100px;
}


.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color:black ;
  max-width: 70%;
  margin: auto;
  padding: 2rem;
  height: auto;
  background-color: white;
  margin-bottom: 20px;
}


.border{
 border-style:solid;
 border-color: white
}




.text-big {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.section {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}
.paras {
  padding: 0px 65px;
}
.center {
  text-align: center;
}
.collection-item {
    background-color:#535F80;
    justify-content: space-between;
    line-height: 1.5rem;
    padding: 10px 70px 40px;
    margin: 0;
    border-bottom: 1px solid black;
    border-radius: 25px;
    margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira sans', sans-serif;
  text-align: center;
}


.task-list{
  padding: 1rem;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  background-color: pink;
  margin-top: 15px;
  width: 600px;
}

.task-list1{
  padding: 1rem;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  background-color: rgb(208, 234, 255);
  margin-top: 15px;
  width: 600px;
}

