.Roadmap table{
  
}
.Roadmap body {
  background-color: rgb(177, 177, 177);
  height: 100%;
  position: relative;
  color: black;
  font-style: normal;
}

.Roadmap h1 {
  font-family: 'Quintessential', cursive;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  position: relative;
  padding: 20px;
  color: red;
}

.label {
  width: 100%;
  height: 27px;
  display: block;
  text-align: left;
  margin-left: 10%;
  margin-right: 0%;
}

.Roadmap label a {
  color: #005eff;
}

.Roadmap span {
  margin-left: 30%;
}

.Roadmap form {
  position: relative;
  display: contents;
  font-size: 20px;
  align-items: center;
}
.Roadmap select{
  width: 100px;
}
.Roadmap table{
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.Roadmap .course-dropdown{
  width: 100px;
}
.Roadmap table .year{
  width: 100px;
  height: 100%;
}
.Roadmap table .Spring{
  width: 150px;
}
.Roadmap table .Summer{
  width: 150px;
}
.Roadmap table .Fall{
  width: 150px;
}
.Roadmap table .Winter{
  width: 150px;
}
.Roadmap table .Units{
  width: 70px;
}
.Roadmap table button {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  border-radius: 10px;
  border: 0px black solid;
}
/* .Roadmap :hover {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  border-radius: 10px;
  border: 1px black solid;
} */

.Roadmap table button:hover {
  background-color: #ff4646;
  border: 1px rgba(61, 61, 61, 0.411) solid;
  padding: 0;
}

.Roadmap html,
.Roadmap body,
.Roadmap #root {
  /* height: 100vh; */
  height: 100%;
  /* overflow: hidden; */
}

.Roadmap table,
.Roadmap th {
  border: 2px black solid;
  text-align: center;
}
.Roadmap th {
  background-color: rgb(255, 220, 220);
}
.Roadmap tbody:nth-child(even){
  background-color: rgb(208, 234, 255);
}
.Roadmap tbody:nth-child(odd){
  background-color: rgb(255, 220, 220);
}

.Roadmap tbody:after {
  line-height: 0.8em;
  content: "\200C";
  width: 100%;
  display: block;
  background-color: white;
}
.Roadmap td {
  border: 1px rgba(0, 0, 0, 0.534) solid;
  text-align: center;
}

.Roadmap #sample_year {
  border: 2px white solid;
  border-top: 10px;
  margin: 10px;
}

.Roadmap select {
  width: 150px;
}
#display{
  color:red;
  display: none;
  padding-top: 40px;
}
.Roadmap td button {
  padding: 2px;
  z-index: 2;
}